# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Andrew Gliga
	email = agliga@ebay.com
[core]
        editor = vim
[web]
        browser = google-chrome
[push]
        default = matching
[diff]
        tool = vimdiff
[difftool]
        prompt = false

