# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on OS X and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * https://atom.io/docs/latest/hacking-atom-debugging#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson
'.platform-darwin atom-workspace, .platform-darwin atom-text-editor':
  # Find replace
  'cmd-d': 'find-and-replace:select-next'
  'cmd-k cmd-d': 'find-and-replace:select-skip'
  # Formatter
  'cmd-L': 'atom-beautify:beautify-editor'
  # Cursor history
  'ctrl-i':     'cursor-history:next'
  'ctrl-o':     'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'
  # Tabs
  'ctrl-a c': 'tabs:close-other-tabs'
  # Spelling
  'ctrl-a s': 'spell-check:correct-misspelling'
  # Symbols
  'ctrl-a f': 'symbols-tree-view:toggle'
  'ctrl-a b': 'atom-ctags:go-to-declaration'
  'ctrl-a v': 'atom-ctags:return-from-declaration'
  'ctrl-a g': 'atom-ctags:rebuild'
    # Build
  'ctrl-a r': 'build:trigger'
  'ctrl-a w': 'build:toggle-panel'
  'ctrl-a t': 'build:select-active-target'
  'ctrl-a q': 'build:stop'
  # Emmett
  'ctrl-a e': 'emmet:expand-abbreviation'
  # Link
  'ctrl-a o': 'link:open'
  # color picker
  'ctrl-a p': 'color-picker:open'
  #Project manager
  'ctrl-cmd-p': 'project-manager:list-projects'
  # Go to line
  'cmd-g': 'go-to-line:toggle'
  # Git commands
  'ctrl-g d': 'git-diff:toggle-diff-list'
  'ctrl-g up': 'git-diff:move-to-previous-diff'
  'ctrl-g down': 'git-diff:move-to-next-diff'
  'ctrl-g o': 'open-on-github:file'
  'ctrl-g b': 'open-on-github:blame'
  'ctrl-g h': 'open-on-github:history'
  'ctrl-g r': 'open-on-github:repository'
  'ctrl-g e': 'open-on-github:branch-compare'
  'ctrl-g i': 'open-on-github:issues'
  'ctrl-g c': 'git-plus:git-open-changed-files'
  'ctrl-g l': 'git-log:show'
  'ctrl-g p': 'git-plus:menu'
  'ctrl-g t': 'git-time-machine:toggle'

  # Bookmark commands
  'ctrl-m p': 'bookmarks:view-all'
  'ctrl-m down': 'bookmarks:jump-to-next-bookmark'
  'ctrl-m up': 'bookmarks:jump-to-previous-bookmark'
  'ctrl-m m': 'bookmarks:toggle-bookmark'
  'ctrl-m c': 'bookmarks:clear-bookmarks'
  # File bookmark
  'ctrl-m g': 'file-bookmark:toggle-panel'
  'ctrl-m f': 'file-bookmark:toggle-bookmark'

#Terminal commands
'.platform-darwin atom-workspace':
  'ctrl-`': 'terminal-plus:toggle'
  'ctrl-enter': 'terminal-plus:insert-selected-text'
'.platform-darwin .terminal-plus .terminal':
  'cmd-c': 'terminal-plus:copy'
  'cmd-v': 'terminal-plus:paste'

'.platform-darwin':
  #Fuzzy finder
  'cmd-p': 'fuzzy-finder:toggle-file-finder'
  'cmd-b': 'fuzzy-finder:toggle-buffer-finder'
  'cmd-t': 'fuzzy-finder:toggle-git-status-finder'
  'shift-enter': 'fuzzy-finder:invert-confirm'
  # Find and replace
  'cmd-f': 'find-and-replace:show'
  'cmd-F': 'project-find:show'
  'cmd-r': 'atom-ctags:toggle-file-symbols'
  'shift-cmd-R': 'atom-ctags:toggle-project-symbols'

'.platform-darwin .find-and-replace':
  'shift-enter': 'find-and-replace:show-previous'
  'alt-enter': 'find-and-replace:find-all'
  'cmd-enter': 'find-and-replace:confirm'

'.find-and-replace, .project-find, .project-find .results-view':
  'tab': 'find-and-replace:focus-next'
  'shift-tab': 'find-and-replace:focus-previous'

'.atom-text-editor':
  'ctrl-space': 'autocomplete-plus:activate'

'atom-text-editor.autocomplete-active':
  'escape': 'autocomplete-plus:cancel'


'.platform-darwin atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-p': 'clipboard-plus:toggle'
