[
  {
    title: "Webapp"
    paths: [
      "/Users/agliga/development/rpp/webapp"
    ]
  }
  {
    title: "Rpp Dne"
    paths: [
      "/Users/agliga/development/rpp/rpp-dne"
    ]
  }
  {
    title: "Ebayui Textspan"
    paths: [
      "/Users/agliga/development/rpp/ebayui-textspan"
    ]
  }
  {
    title: "Ebayui Nuweb Navigation Dropdown"
    paths: [
      "/Users/agliga/development/rpp/ebayui-nuweb-navigation-dropdown"
    ]
  }
  {
    title: "Ebayui Nuweb Item Tile"
    paths: [
      "/Users/agliga/development/rpp/ebayui-nuweb-item-tile"
      "/Users/agliga/development/ebay"
    ]
  }
  {
    title: "Ebayui Nuweb Summary Card"
    paths: [
      "/Users/agliga/development/rpp/ebayui-nuweb-summary-card"
    ]
  }
  {
    title: "Rpp Dne Monitor"
    paths: [
      "/Users/agliga/development/rpp/rpp-dne-monitor"
    ]
  }
]
